@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


/* CODE CODE CODE */

@mixin title {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	padding: 5px 10px;
	align-items: center;
	background-color: #2a9696;
}

@mixin maximize {
  &:hover {
    color:#b3d1d1;
    cursor: pointer;
  }
    
}

body {
    background-color: #87b5b5;
    font-family: "Fira Code";

	#main-div {
		display: flex;
		flex-direction: column;
		max-width: 600px;
		border: 1px solid black;
		margin: 20px auto;
	
		textarea {
			resize: vertical;
			background-color: #b3d1d1;
			outline: none; 
			min-height: 100px; 
		}
	
		#main-title {
			@include title;
			height: 20px;
	
			h4 {
				font-weight: 800;
			}

      span {
        @include maximize()
      }
			
		}
}

		
		#preview {
		background-color: #b3d1d1;
		height: 200px;
		height: fit-content;
		overflow-wrap: break-word;
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		font-size: 13px;

    #maximize-btn:hover {
      @include maximize()
    }

	img {
		max-width: 90%;
		text-align: center;
	}
	}
	
}